DUCKDB_PATH = 
CSV_DIR = 
RAW_SCHEMA = 
RAW_TABLES = allergies,careplans,claims,claims_transactions,conditions,devices,encounters,imaging_studies,immunizations,medications,observations,organizations,patients,payer_transitions,payers,procedures,providers,supplies
